.botones {
  margin-inline-start: 40px;
  border-radius: 0%;
}

.navegador {
  background-color: black;
  border: 1px solid white;
  height: 150px;
}

* {
  font-family: Arial;
  color: white;
}

.navbar-toggler{
  background-color:white;
  border:1px solid white;
}




