<nav class="navbar navbar-expand-lg fixed-top navegador">


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#botonesnavegador"
    aria-controls="botonesnavegador" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon hamburg"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="botonesnavegador">
    <button type="button" class="btn  btn-lg botones"[routerLink]="['/home']">HOME</button>
    <button type="button"  class="btn  btn-lg botones"[routerLink]="['/login']">STARSHIPS</button>
    <!--<button type="button" class="btn bg-info btn-lg botones">VEHICLES</button>
    <button type="button" class="btn bg-info btn-lg botones">FILMS</button>
    <button type="button" class="btn bg-info btn-lg botones">PLANETS</button>-->
    <button type="button"  class="btn  btn-lg botones" [routerLink]="['/people']">PEOPLE</button>
    <button type="button"  class="btn  btn-lg botones"[routerLink]="['/login']">LOGIN</button>
  </div>


</nav>







