* {
  box-sizing: border-box;
}

.pagina{
  height: 900px;
  margin-top: 90px;
}

h1 {
  margin: 0;
  padding: 0;
}

.error{
  color: white;
  font-size: 20px;
}

.error:hover{
  color: red;
}

.custom-form {
  min-width: 300px;
  max-width: 60%;
  margin: 0px auto;
  background: lightyellow;
  padding: 30px 35px;
  margin: auto;
  border-radius: 10px;
  background-color: black;;
  box-shadow: 0 0 30px darkblue, 0 0 50px darkblue, 0 0 180px darkblue;
  color: black;
  margin-top: 170px;
}
.custom-form input {
  display: block;
  margin-top:40px;
  width: 100%;
  border-radius: 8px;
  padding: 20px;
  border: none;
  background: lightyellow;
}
.custom-form button {
  text-transform: uppercase;
  border: none;
  font-size: 15px;
  color: #ffffff;
  font-weight: bold;
  width: 100%;
  display: block;
  padding: 15px 15px;
  margin-top: 10px;
  cursor: pointer;
}

.btnlogin{
  background-color: darkblue;
}
.btnlogin:hover{
  background-color: greenyellow;

}


.btndelete{
  background-color: darkviolet;
}

.btndelete:hover{
  background-color: red;
}


